body{
  background-color: #666666;
}

/*general features*/
.container{
  display:inline-block;
}
#header{
  height: 100px;
  background-color: #ffa800;
  margin-top: 0;
  border-top: 3px solid rgba(255,255,255,1);
  border-bottom: 3px solid rgba(0,0,0,1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*hamburger*/
.ham{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
#hamburger{

}
/* website title*/
#title{
  margin: auto;
}

#primaryInfo{
  margin: 10px;
  width: 75%;
}

#map{
  height: 10%;
  width: 10%;
  background-color: red;
  margin-left: 5%;
  display: flex;
}

#birdPic{
  height: 20%;
  width: 15%;
  background-color: red;
  margin-left: 5%;
  /* display: flex; */
  /*rotates the div a certain number of degrees*/
  /* transform: rotate(15deg); */
}

#sideBarRight{
  height:50%;
  width:15%;
  right:5px;
  top:120px;
  background-color: purple;
  position: absolute;
}
