body{
  background-color: #666666;
}

/*general features*/
.container{
  display:inline-block;
}
/*hamburger*/
.ham{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
#hamburger{

}


#header{
  background-color: #ffa800;
  margin-top: 0;
}
#map{
  height: 10%;
  width: 10%;
  background-color: red;
  margin-left: 5%;
  display: flex;
}

#birdPic{
  height: 10%;
  width: 10%;
  background-color: red;
  margin-left: 5%;
  display: flex;
  /*rotates the div a certain number of degrees*/
  transform: rotate(2deg);
}
